

[class^="col"]{
    background-color: dodgerblue;
    color: white;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid white;
    padding-left: 8px;
    padding-right: 8px;
    /* padding: 10px 10px 10px 8px; */
}

[class^="col"].nested{
    background-color: #00E165;
    margin: 10px 0 10px 0;
    border: 1px solid dodgerblue;
}

.container{
    margin-bottom: 20px;
}

